
@model IEnumerable<Event>

@{
    Layout = "_Layout";
}

<div class="full-page-bg">
    <div class="container text-center">
        <h1>Welcome to Tazkartk</h1>
        <p>Book your Tickets for upcoming Events now!</p>
    </div>
</div>

<div class="container" style="height:1300px">
    <br />
    <h1 class="display-3">Latest Events</h1>

    <!-- Search Form -->
    <form asp-controller="Event" asp-action="SearchEvent" method="get">
        <div class="input-group mb-3">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search events..." value="@ViewData["SearchTerm"]">
            <button class="btn btn-secondary" type="submit">Search</button>
            </div>
    </form>

    <!-- Sort Options with Bootstrap Dropdown -->
    <div class="d-flex justify-content-between mb-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSortMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Sort Events
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownSortMenu">
                <li>
                    <a class="dropdown-item" href="@Url.Action("SearchEvent", "Event", new { searchTerm = ViewData["SearchTerm"], sortBy = "Date", isAscending = false })">
                        Sort by Date 
                    </a>
                </li>
               
                <li>
                    <a class="dropdown-item" href="@Url.Action("SearchEvent", "Event", new { searchTerm = ViewData["SearchTerm"], sortBy = "Name", isAscending = false })">
                        Sort by Name 
                    </a>
                </li>
                
            </ul>
        </div>
    </div>

    <br />
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card article-card">
                        <img src="@Url.Content("~/Images/Events/" + item.Image)" class="card-img-top" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="text-muted">on: @item.Date.ToShortDateString()</p>
                            <a href="#" class="btn btn-primary btn-custom">Read More</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p>No events found.</p>
            </div>
        }
    </div>
</div>
