@model IEnumerable<Event>
@{
    ViewData["Title"] = "EventRequests";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Pending Requests</h1>

<main class="container my-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12">
                <div class="card">
                    <img src="@Url.Content("~/Images/Events/" + item.ImageUrl)" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="text-muted">Date: @item.Date</p>
                        @* <p class="text-muted">Organizer: John Doe</p> *@
                        <div class="d-flex justify-content-between">
                            <a href="@Url.Action("Approve", "Event", new { eventId = item.Id })" class="btn-custom">Accept</a>
                            <a href="@Url.Action("RejectEvent", "Event", new { eventId = item.Id  })" class="btn-reject">Reject</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Add more articles here -->
    </div>
</main>